/* Стили для подвала */
.footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 1rem;
  width: 100%; /* Ширина 100% */
  box-sizing: border-box; /* Учитываем отступы и границы */
  margin-top: auto; /* Подталкивает подвал вниз */
}
