.header {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Выровняем элементы по центру по вертикали */
  padding: 1rem;
  background-color: #f8f9fa;
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header .logo {
  text-decoration: none;
  color: #28a745;
  font-weight: 800;
  font-size: 1.5rem;
  margin-left: 1rem;
}

.header .search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.header .search-box input[type="text"] {
  padding: 0.5rem;
  border-radius: 0.25rem 0 0 0.25rem;
  border: 1px solid #ccc;
  width: 100%;
  max-width: 700px; /* Уменьшаем ширину поля поиска на 30% */
  margin: 0.25rem 0;
}

.header .search-box .search-button {
  padding: 0.5rem;
  border-radius: 0 0.25rem 0.25rem 0;
  border: 1px solid #ccc;
  border-left: none;
  background-color: #28a745;
  color: white;
  cursor: pointer;
  margin: 0.25rem 0;
}

.header .search-box .search-button:hover {
  background-color: #218838;
}

.header .button-group {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  margin-right: 1rem; /* Отступ справа */
  margin-top: -0.75rem; /* Увеличиваем отрицательный отступ сверху */
}

.header .button {
  background-color: #28a745;
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  margin: 0.25rem 0; /* Отступы сверху и снизу */
}

.header .button:hover {
  background-color: #218838;
}
