/* Базовые сбросы */
.header * {
  box-sizing: border-box;;
  margin: 0;
  padding: 0;
}

/* Основные стили хедера */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 1vh;
  padding-bottom: 1vh;
  background-color: #ffffff;
  box-shadow: 0 0px 5px rgba(0,0,0,0.1);
  z-index: 1000;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: stretch; /* чтобы занимала всю ширину */
}

.header-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Логотип */
.logo {
  font-size: 1.5rem;
  font-weight: 800;
  color: #28a745;
  text-decoration: none;
  margin-right: auto;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 10px;
}


/* Навигационные кнопки */
.nav-buttons {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-left: auto;
  height: 100%;
}

.nav-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s;
  position: relative;
  border: none;
  color: rgb(255, 255, 255);
  background-color: #28a745;
}

.nav-btn::after {
  content: attr(title);
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 0.8rem;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s;
  margin-top: 5px;
}

.nav-btn:hover::after {
  opacity: 1;
  visibility: visible;
  margin-top: 10px;
}

/* Цвета кнопок */
.profile { background-color: #2091c6; }
.profile:hover { background-color: #18749f; }

.upload { background-color: #6f42c1; }
.upload:hover { background-color: #4b2d95; }

.logout { background-color: #dc3545; }
.logout:hover { background-color: #aa1f2c; }

.login { background-color: #17a2b8; }
.login:hover { background-color: #138496; }

.register { background-color: #28a745; }
.register:hover { background-color: #218838; }

/* Добавить в секцию цветов кнопок */
.admin { background-color: #2cc0da; color: #ffffff; }
.admin:hover { background-color: #22a3b9; }

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: stretch;
  }

  .header-wrapper {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    width: 100%;
  }

  .nav-buttons {
    flex-wrap: nowrap;
  }
}
