/* Стили для профиля */
.profile-container {
    padding: 2rem;
    background-color: #f9f9f9;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 0 auto;
  }
  
  h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem; /* Увеличиваем отступы между заголовками */
  }
  
  button, .toggle-button, .delete-button, .create-collection-button {
    background-color: #28a745; /* Зеленый цвет */
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
    margin-top: 1rem; /* Добавляем отступ сверху для кнопок */
  }
  
  button:hover, .toggle-button:hover, .delete-button:hover, .create-collection-button:hover {
    background-color: #218838;
  }
  
  .delete-button {
    background-color: #dc3545; /* Красный цвет для кнопки удаления */
  }
  
  .delete-button:hover {
    background-color: #c82333;
  }
  
  ul.collections-list {
    list-style-type: none;
    padding: 0;
    margin: 0 0 2rem 0; /* Добавляем отступы снизу */
  }
  
  ul.sounds-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  form.create-collection-form {
    margin-top: 2rem; /* Увеличиваем отступ сверху */
    text-align: center;
  }
  
  form.create-collection-form label {
    display: block;
    margin-bottom: 0.5rem;
  }
  
  form.create-collection-form input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    margin-right: 1rem;
  }
  