/* Подключение шрифта Nunito */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap');

.auth-container {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Расположим блок входа выше */
  height: 100vh;
  background-color: #ffffff; /* Фон страницы должен быть белым */
  padding-top: 75px; /* Уменьшаем отступ сверху */
}

.auth-box {
  background-color: #f9f9f9;
  padding: 2rem;
  border-radius: 1rem; /* Закругленные края блока */
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1); /* Тень блока входа без смещения */
  max-width: 400px;
  width: 100%;
  text-align: center;
  margin-top: 25px; /* Уменьшаем отступ для расположения блока ниже */
}

.auth-box h2 {
  margin-bottom: 1rem;
  font-weight: 800;
}

.auth-box form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.auth-box form label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-weight: 600;
}

.auth-box form input {
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid #ccc;
  width: 100%;
}

.auth-box form button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  width: fit-content;
  align-self: center;
}

.auth-box form button:hover {
  background-color: #218838;
}

.error-message {
  color: #dc3545; /* Красный цвет */
  background-color: #f8d7da; /* Белый фон с легким красным оттенком */
  border: 1px solid #f5c6cb; /* Граница вокруг сообщения */
  padding: 10px; /* Отступы внутри блока */
  margin-bottom: 10px; /* Отступ снизу */
  border-radius: 4px; /* Сглаженные углы */
  font-size: 14px; /* Размер шрифта */
}

.success-message {
  color: #28a745; /* Зеленый цвет */
  background-color: #d4edda; /* Белый фон с легким зеленым оттенком */
  border: 1px solid #c3e6cb; /* Граница вокруг сообщения */
  padding: 10px; /* Отступы внутри блока */
  margin-bottom: 10px; /* Отступ снизу */
  border-radius: 4px; /* Сглаженные углы */
  font-size: 14px; /* Размер шрифта */
}