* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Стиль для шапки */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #f8f9fa;
  width: 100vw;
  box-sizing: border-box;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header .logo {
  text-decoration: none;
  color: #28a745;
  font-weight: 800;
  font-size: 1.5rem;
}

.header .search-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .search-box input[type="text"] {
  padding: 0.5rem;
  border-radius: 0.25rem 0 0 0.25rem;
  border: 1px solid #ccc;
  width: 100%;
  max-width: 600px;
}

.header .search-box .search-button {
  padding: 0.5rem;
  border-radius: 0 0.25rem 0.25rem 0;
  border: 1px solid #ccc;
  border-left: none;
  background-color: #28a745;
  color: white;
  cursor: pointer;
}

.header .search-box .search-button:hover {
  background-color: #218838;
}

.header .button-group {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

.header .button {
  background-color: #28a745;
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

.header .button:hover {
  background-color: #218838;
}
